.centerlogo {
  width: 100% !important;
  height: auto !important;

}
div#auction-nudge-items .an-title  {
    color: green;
  }
  /* The price */
  div#auction-nudge-items .an-price {
    color: red;
    font-size: 30px;
    font-weight: bold;
  }
  /* Time left label */
  div#auction-nudge-items .an-ends .an-label {
    color: green;
  }
  /* Time left */
  div#auction-nudge-items .an-ends .an-time {
    color: purple;
  }
  /* View item link */
  div#auction-nudge-items .an-view a {
    color: orange;
 }
 #auction-nudge-items .image-container img {
    /* Change this number to match the specified the 'image size' value */
    width: 250px !important; 
  }

/* Change the background colour to blue and the text to white */
div#auction-nudge-items div#an-search-submit {
    font-size: 25px;
	background-color: #143244;
	color: white;
}	
